<div class="services">          
  <div class="service-content">
    <div class="page-header">
      <h1><%= link_to "最新留言", messages_path %></h1>
    </div>

    <table class="table table-hover table-message" id="table-message">
      <thead>
        <tr>
          <th width="60%"  style="text-align:left; padding-left:1.2em">問題</th>
          <th width="15%">回覆</th>         
          <th width="15%">最後時間</th>
          <th width="5"%></th>          
          <th width="5"%></th>          
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |m| %>
          <tr>
            <td>
              <div class="table-message-topic-title">
                <%= link_to m.title, message_path(m) %>
              </div>
              <div class="table-message-topic-date">
               <% if m.anonymous && !logged_in_as_admin? %>  
                  匿名
                <% else %>
                  <% if logged_in_as_admin? %>
                    <%= link_to m.user.name, backstage_user_show_path(user: m.user) %>
                  <% else %>
                    <%= m.user.name %>
                  <% end %>                
                <% end %>     
                 •            
                <%= time_ago_in_words(m.created_at) %>前
              </div>
            </td>
            <td>
              <div>
                <span class="glyphicon glyphicon-comment" style="font-size: 1.5em; color: #767676; top: 0.3em"></span>
                <span style="font-size: 1.2em; color: #767676;">&nbsp<%= m.comments.count %></span>
              </div>
            </td>    
            <td>
              <div class="table-message-last-time">
                <% if m.comments.count > 0 %>
                  <%= time_ago_in_words(m.comments.last.created_at) %>前
                <% else %>
                  <%= time_ago_in_words(m.created_at) %>前
                <% end %>
              </div>                
            </td>       
            <td>
              <% if logged_in_as_admin? %>
                <% if m.seeable %>
                  <%= link_to modify_seeable_messages_path(message: m) do %>
                    <i class="material-icons" style="font-size: 2.1em; top:0.2em; color: black">visibility</i>
                  <% end %>
                <% else %>
                  <%= link_to modify_seeable_messages_path(message: m) do %>
                    <i class="material-icons" style="font-size: 2.1em; top:0.2em; color: #ccc">visibility_off</i>
                  <% end %>              
                <% end %>
              <% end %>
            </td>                  
            <td>
              <div>
                <% if logged_in_as_admin? %>  
                  <%= link_to message_path(m), method: :delete, data: {confirm: "你確定刪除留言嗎?"} do %>
                    <span class="glyphicon glyphicon-remove" style="font-size: 1.5em; top: 0.3em"></span>
                  <% end %>
                <% end %>
              </div>
            </td>                             
          </tr>            
        <% end %>     
      </tbody>
    </table>
    <% if @messages.count < 8 %>
      <% (8-@messages.count).times do %>
        <br>
      <% end %>
    <% end %>       
    <div class="paginate"><%= paginate @messages %></div>

    <% if logged_in_as_user? %>
      <h3>我要留言</h3>        
      <br>
      <%= simple_form_for @message do |f| %>
        <div class="form-group" style="padding-left: 20px; font-size: 1.3em">   
          <%= f.input :anonymous, label:"是否匿名？" %>       
        </div>           
        <br>
        <div class="form-group" style="font-size: 1.3em">   
          <%= f.input :title, label:"標題", input_html: { class: "form-control"} %>       
        </div>            
        <div class="form-group" style="font-size: 1.3em">      
          <%= f.input :body, label:"內容", input_html: { class: "form-control", rows: "20", width: "80%"} %>
        </div>
        <%= f.submit "送出", disable_with: 'Submitting...', class: "btn btn-primary"%>
      <% end %>    
    <% else %>
      <h3>
        <% if !logged_in_as_admin? %>
          <%= link_to "登入會員留言", login_path %>          
        <% end %>
      </h3>           
    <% end %>
    <br><br>
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
