<div class="services">
  <div class="service-sidebar">
    <%= render partial: "message_sidebar" %>
  </div>            
  <div class="service-content">
    <h3>最新留言</h3>

    <table class="table table-hover">
      <thead>
        <tr>
          <th width="5"%></th>
          <th width="59%" style="text-align:left">問題</th>
          <th width="12%">發問人</th>
          <th width="8%">已回覆</th>             
          <th width="15%">發問時間</th>  
          <th width="1"%></th>          
        </tr>
      </thead>
      <tbody>
        <% @messages.each do |m| %>
          <tr>
            <td>
              <% if logged_in_as_admin? %>
                <% if m.seeable %>
                  <%= link_to modify_seeable_reservations_path(message: m) do %>
                    <span class="glyphicon glyphicon-eye-open" style="top: 3px;"></span>
                  <% end %>
                <% else %>
                  <%= link_to modify_seeable_reservations_path(message: m) do %>
                    <span class="glyphicon glyphicon-eye-close" style="top: 3px;"></span>
                  <% end %>              
                <% end %>
              <% end %>
            </td>
            <td style="text-align:left"><%= link_to m.title, message_path(m) %></td>
            <td>
              <% if m.anonymous && !logged_in_as_admin? %>  
                匿名
              <% else %>
                <% if logged_in_as_admin? %>
                  <%= link_to m.user.name, backstage_user_show_path(user: m.user) %>
                <% else %>
                  <%= m.user.name %>
                <% end %>                
              <% end %>
            </td>
            <td>
            <% if m.comments.empty? %>
              否
            <% else %>
              是
            <% end %>
            </td>              
            <td><%= show_date(m.created_at) %></td>      
            <td>
              <% if logged_in_as_admin? %>  
                <%= link_to message_path(m), method: :delete, data: {confirm: "你確定刪除留言嗎?"} do %>
                  <span class="glyphicon glyphicon-remove", style="padding-top: 3px"></span>
                <% end %>
              <% end %>
            </td>                             
          </tr>            
        <% end %>     
      </tbody>
    </table>
    <% if @messages.count < 8 %>
      <% (8-@messages.count).times do %>
        <br>
      <% end %>
    <% end %>       
    <h4><%= paginate @messages %></h4>

    <br>
    <% if logged_in_as_user? %>
      <h3>我要留言</h3>        
      <br>
      <%= simple_form_for @message do |f| %>
        <div class="form-group" style="padding-left: 20px;">   
          <%= f.input :anonymous, label:"是否匿名？" %>       
        </div>           
        <div class="form-group">   
          <%= f.input :title, label:"標題", input_html: { class: "form-control"} %>       
        </div>            
        <div class="form-group">      
          <%= f.input :body, label:"內容", input_html: { class: "form-control", rows: "20", width: "80%"} %>
        </div>
        <%= f.submit "送出", disable_with: 'Submitting...', class: "btn btn-primary"%>
      <% end %>    
    <% else %>
      <h3>
        <%= link_to "登入會員留言", login_path %>
      </h3>           
    <% end %>
    <br><br>
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
