<div class="services">
  <div class="service-content">

    <div class="page-header" style="padding-top: 35px;">
      <h1>
        <%= link_to "最新消息", announcements_path %>
        <% if logged_in_as_admin? %>
          <%= link_to "發表公告", new_announcement_path, class: "btn btn-success pull-right", 
              style: "font-size: 0.5em; padding: 4px 15px; margin-top: 5px; margin-right: 15px;" %>
        <% end %>  
      </h1>
    </div>

    <table class="table table-hover">
      <tbody>
        <% @announcements.each do |a| %>    
          <tr>
            <td style="width: 90%; border: none;">
              <div class="table-post-title">
                <%= link_to a.title, announcement_path(a) %>
              </div>
              <div class="table-post-date">       
                <%= time_ago_in_words(a.updated_at) %>前
              </div>                                   
            </td>

            <td style="width: 5%; border: none;">     
              <% if logged_in_as_admin? %>
                <% if a.seeable %>
                  <%= link_to modify_seeable_announcements_path(announcement: a) do %>
                    <i class="material-icons" style="font-size: 2.1em; color: black">visibility</i>
                  <% end %>
                <% else %>
                  <%= link_to modify_seeable_announcements_path(announcement: a) do %>
                    <i class="material-icons" style="font-size: 2.1em; color: #ccc">visibility_off</i>
                  <% end %>              
                <% end %>             
              <% end %>                      
            </td> 
            <td style="width: 5%; border: none;">     
              <% if logged_in_as_admin? %>
                <%= link_to announcement_path(a), method: :delete, data: {confirm: "你確定刪除公告嗎?"} do %>
                  <span class="glyphicon glyphicon-remove" style="font-size: 1.5em; top: 0.2em;"></span>
                <% end %>                   
              <% end %>                      
            </td> 
          </tr>
        <% end %>  
      </tbody>
    </table>
    <div class="paginate"><%= paginate @announcements %></div>
    <br><br>
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>

