<div class="services">
  <div class="service-sidebar">
    <%= render partial: "announcement_sidebar" %>
  </div>            
  <div class="service-content">
    <h3>最新消息</h3>
    <% @announcements.each do |a| %>
      <ul>          
        <li>
          <p>
            <%= link_to announcement_path(a) do %>
            <span id="archive-date"><%= show_date(a.created_at) %></span>                    
             <%= a.title %>            
            <% end %>
          </p>
        </li>
        <div class="clear"> </div>
      </ul>
    <% end %>
    <h4><%= paginate @announcements %></h4>   
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>

