<div class="services">
  <div class="service-sidebar">
    <%= render partial: "announcement_sidebar" %>
  </div>            
  <div class="service-content">
    <h3>最新消息</h3>

    <table class="table table-hover">
      <tbody>
        <% @announcements.each do |a| %>    
          <tr>
            <td style="width: 94%; border: none;">
              <div class="table-post-title">
                <%= link_to a.title, announcement_path(a) %>
              </div>
              <div class="table-post-date">       
                <%= time_ago_in_words(a.updated_at) %>前
              </div>                                   
            </td>

            <td style="width: 3%; border: none;">     
              <% if logged_in_as_admin? %>
                <% if a.seeable %>
                  <%= link_to modify_seeable_announcements_path(announcement: a) do %>
                    <span class="glyphicon glyphicon-eye-open" style="font-size: 1.5em; top: 0.2em; color: black"></span>
                  <% end %>
                <% else %>
                  <%= link_to modify_seeable_announcements_path(announcement: a) do %>
                    <span class="glyphicon glyphicon-eye-close" style="font-size: 1.5em; top: 0.2em; color: #ccc"></span>
                  <% end %>              
                <% end %>             
              <% end %>                      
            </td> 
            <td style="width: 3%; border: none;">     
              <% if logged_in_as_admin? %>
                <%= link_to announcement_path(a), method: :delete, data: {confirm: "你確定刪除公告嗎?"} do %>
                  <span class="glyphicon glyphicon-remove" style="font-size: 1.5em; top: 0.2em;"></span>
                <% end %>                   
              <% end %>                      
            </td> 
          </tr>
        <% end %>  
      </tbody>
    </table>
    <div class="paginate"><%= paginate @announcements %></div>
    <br><br>
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>

