<div class="services">       
  <div class="service-content">
    <div class="page-header">
      <h1><%= link_to "最新消息", announcements_path %></h1>
    </div>    
    <h3>
      <%= link_to @announcement.title, announcement_path(@announcement) %>
      <% if logged_in_as_admin? %>   
        <div class="pull-right">  
        <% if @announcement.seeable %>
          <%= link_to modify_seeable_announcements_path(announcement: @announcement) do %>
            <i class="material-icons" style="font-size: 1.3em; top: 0.3em; color: black">visibility</i>&nbsp
          <% end %>
        <% else %>
          <%= link_to modify_seeable_announcements_path(announcement: @announcement) do %>
            <i class="material-icons" style="font-size: 1.3em; top: 0.3em; color: #ccc">visibility_off</i>&nbsp
          <% end %>              
        <% end %>            
          <%= link_to edit_announcement_path(@announcement) do %>   
            <span class="glyphicon glyphicon-pencil" style="font-size: 1.0em; top: 0.2em;"></span>&nbsp
          <% end %>          
          <%= link_to announcement_path(@announcement), 
              method: :delete, data: {confirm: "你確定刪除公告嗎?"} do %>
            <span class="glyphicon glyphicon-remove" style="font-size: 1.0em; top: 0.2em;"></span>
          <% end %>    
        </div>                      
      <% end %>       
    </h3>
    <div class="show-message-date">
      <%= show_datetime(@announcement.updated_at) %>
    </div>
    <br>
    <div class="show-message-content">    
      <p><%= @announcement.body %></p>
    </div>
    <br><br>
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
