<div class="services">
  <div class="service-sidebar">
    <%= render partial: "announcement_sidebar" %>
  </div>            
  <div class="service-content">

    <h3>
      <%= link_to @announcement.title, announcement_path(@announcement) %>&nbsp&nbsp
      <% if logged_in_as_admin? %>
        <% if @announcement.seeable %>
          <%= link_to modify_seeable_announcements_path(announcement: @announcement) do %>
            <span class="glyphicon glyphicon-eye-open" style="font-size: 1.0em; top: 0.2em; color: black"></span>
          <% end %>
        <% else %>
          <%= link_to modify_seeable_announcements_path(announcement: @announcement) do %>
            <span class="glyphicon glyphicon-eye-close" style="font-size: 1.0em; top: 0.2em; color: #ccc"></span>
          <% end %>              
        <% end %>      
        <div class="pull-right">   
          <%= link_to edit_announcement_path(@announcement), class:"btn btn-xs btn-primary" do %>   
            <big><span class="glyphicon glyphicon-pencil"></span></big>
          <% end %>          
          <%= link_to announcement_path(@announcement), 
              method: :delete, data: {confirm: "你確定刪除公告嗎?"}, class:"btn btn-xs btn-primary" do %>
            <big><span class="glyphicon glyphicon-remove"></span></big>
          <% end %>    
        </div>                      
      <% end %>       
    </h3>
    <div class="show-message-date">
      <%= show_datetime(@announcement.updated_at) %>
    </div>
    <br>
    <div class="show-message-content">    
      <p class="text-muted"><%= markdown @announcement.body %></p>
    </div>
    <br><br>
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
