<div class="services">         
  <div class="service-form">

    <h3>登入</h3>     

    <%= form_tag login_path do |f| %> 
      <div class="form-group"> 
        <%= label_tag(:email_or_phone, "電子信箱或手機或市話") %> <br>
        <%= text_field_tag :email_or_phone, nil, placeholder: 'abc@def.com or 0912345678 or 0228825252', class: "form-control" %> 
      </div> 
      <div class="form-group"> 
        <%= label_tag(:password, "密碼") %> <br>
        <%= password_field_tag :password,  nil, class: "form-control" %> 
        &nbsp(提示：若忘記密碼請來電)
      </div>        
      <br>
      <%= submit_tag "確認", class: "btn btn-primary" %> 
    <% end %>         
    <br><br><br>

  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>


