<table class="table table-hover table-user">
  <thead>
    <tr>
      <th width="8%"> 姓名</th>
      <th width="8%"> 性質</th>                  
      <th width="17%">預約時間</th>
      <th width="8%">時段</th>
      <th width="29%">症狀描述</th>                  
      <th width="20%">建檔時間</th>       
      <th width="5%"></th>      
      <th width="5%"></th>                                     
    </tr>
  </thead>
  <tbody>
    <% reservations.each do |r| %>
    <tr>
      <td><%= r.user.name %></td>
      <td><%= r.booking_slot.booking_type == 0 ? "手療" : "體雕" %></td>                  
      <td><%= r.booking_slot.booking_date %></td>
      <td><%= show_time_slot(r.booking_slot.time_slot) %></td>
      <td><%= r.desc %></td>                  
      <td><%= show_datetime(r.created_at) %></td>
      <td>
        <% if current_user.admin %>
          <%= link_to backstage_edit_hand_reservation_path(r: r) do %>
            <span class="glyphicon glyphicon-pencil", style="top: 3px"></span>
          <% end %>
        <% else %>                      
          <%= link_to edit_reservation_path(r) do %>
            <span class="glyphicon glyphicon-pencil", style="top: 3px"></span>
          <% end %>
        <% end %>
      </td>  
      <td>
        <% if r.booking_slot.booking_date > Date.today %>
          <%= link_to reservation_path(r), method: :delete, data: {confirm: "你確定刪除預約嗎?"} do %>
            <span class="glyphicon glyphicon-remove", style="top: 3px"></span>
          <% end %>          
        <% end %>
      </td>                              
    </tr>
    <% end %>
  </tbody>
</table>