<div class="services">         
  <div class="service-form">

    <h3>修改[<%= @user.name %>]的密碼：</h3> 

    <%= form_tag change_password_verify_user_path do |f| %> 
      <% admin_string = current_user.admin ? " (管理員不用填)" : "" %>
      <div class="form-group"> 
        <%= label_tag(:old_password, "舊密碼"+admin_string) %> <br>
        <%= password_field_tag :old_password, nil, class: "form-control" %> 
      </div> 
      <div class="form-group"> 
        <%= label_tag(:password, "新密碼") %> <br>          
        <%= password_field_tag :password, nil, class: "form-control" %> 
      </div> 
      <div class="form-group"> 
        <%= label_tag(:password_confirmation, "新密碼確認") %> <br>          
        <%= password_field_tag :password_confirmation, nil, class: "form-control" %> 
      </div>                 
      <%= submit_tag "確認", class: "btn btn-primary" %> 
    <% end %>  

    <br><br><br>
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>


