<div class="services">         
  <div class="service-user">
    <div> 
      <h3>修改個人資料：</h3> 

      <%= simple_form_for @user do |f| %>
        <div class="form-group">      
          <%= f.input :name, label:"中文姓名", input_html: { class: "form-control"} %>       
        </div>    

        <% if logged_in_as_admin? %>
          <div class="form-group">      
            <%= f.input :email, label:"電子信箱", disabled: false, input_html: { class: "form-control"} %>       
          </div>                    
          <div class="form-group">      
            <%= f.input :phone, label:"手機號碼", disabled: false, input_html: { class: "form-control"} %>       
          </div>    

          <div class="form-group">   
            <%= label_tag(:home_pre, "會員市話") %> <br>
            <div class="col-xs-2" style="padding-left:0px">
            <%= select_tag :home_pre, options_for_select([ "02", "03", "04", "04", "06", "07", "08", "037", "049", "082", "089"], @user.home_pre), 
                           class: "form-control", disabled: false %></div>

            <div class="col-xs-10" style="padding:0px"><%= text_field_tag :home_post, nil, label: false, value: @user.home_post, 
                           class: "form-control", disabled: false %></div>
            <br><br>
          </div>          

          <div class="form-group", style="margin-left: 20px; margin-top: 20px;">      
            <% if @user.admin %>
              <%= f.input :verified, label:"可線上登錄", as: :boolean, disabled: true %>      
            <% else %>
              <%= f.input :verified, label:"可線上登錄", as: :boolean %>                                
            <% end %> 
          </div>  

          <div class="form-group", style="margin-left: 20px; margin-top: 20px;">      
            <% if @user.admin %>
              <%= f.input :black, label:"黑名單", as: :boolean, disabled: true %>      
            <% else %>
                <% if @user.black %>
                  <%= f.input :black, label:"黑名單", as: :boolean %> 
                <% else %>
                  <%= f.input :black, label:"黑名單 (至會員總覽設定)", as: :boolean, disabled: true %>                 
                <% end %>
            <% end %> 
          </div>                            

        <% else %>
          <div class="form-group">      
              <%= f.input :email, label:"電子信箱", disabled: true, input_html: { class: "form-control"} %>       
            </div>                    
            <div class="form-group">      
              <%= f.input :phone, label:"手機號碼", disabled: true, input_html: { class: "form-control"} %>       
            </div>    

            <div class="form-group">   
              <%= label_tag(:home_pre, "會員市話") %> <br>
              <div class="col-xs-2" style="padding-left:0px">
              <%= select_tag :home_pre, options_for_select([ "02", "03", "04", "04", "06", "07", "08", "037", "049", "082", "089"], @user.home_pre), 
                             class: "form-control", disabled: true %></div>

              <div class="col-xs-10" style="padding:0px"><%= text_field_tag :home_post, nil, label: false, value: @user.home_post, 
                             class: "form-control", disabled: true %></div>
              <br><br>
            </div>                
        <% end %>          

        <br>                 
        <%= f.submit "確認", disable_with: 'Submitting...', class: "btn btn-primary"%>
      <% end %>          
      <br><br>
    </div>
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>


