<h3>後台管理</h3>
<ul>
  <li>
    <%= link_to backstage_reservation_all_path, :style => font_bold_class(backstage_reservation_all_path) do %>
      <span class="glyphicon glyphicon-chevron-right"></span>&nbsp&nbsp預約管理
    <% end %>
  </li> 
  <li>
    <%= link_to backstage_reservation_list_path(date: Date.today - 2), :style => font_bold_class(backstage_reservation_list_path) do %>
      <span class="glyphicon glyphicon-chevron-right"></span>&nbsp&nbsp預約列表
    <% end %>
  </li>             
  <li>
    <%= link_to backstage_user_all_path, :style => font_bold_class(backstage_user_all_path) do %>
      <span class="glyphicon glyphicon-chevron-right"></span>&nbsp&nbsp會員總覽
    <% end %>
  </li>  
  <li>
    <%= link_to backstage_search_user_path, :style => font_bold_class(backstage_search_user_path) do %>
      <span class="glyphicon glyphicon-chevron-right"></span>&nbsp&nbsp代客預約
    <% end %>
  </li>         
  <li>
    <%= link_to backstage_add_user_path, :style => font_bold_class(backstage_add_user_path) do %>
      <span class="glyphicon glyphicon-chevron-right"></span>&nbsp&nbsp新增會員
    <% end %>
  </li>         
</ul>