<div class="services">         
  <div class="service-sidebar">
    <%= render partial: "backstage_sidebar" %>
  </div>        
  <div class="service-content">
    <h3>新增會員</h3>
    <br>
    <div class="row" style="font-size:1.2em">
      <div class="col-md-8">
        <%= simple_form_for @user, :url => backstage_add_user_path, :method => :post do |f| %>
          <div class="form-group">      
            <%= f.input :name, label:"會員姓名", input_html: { class: "form-control"} %>       
          </div>            
          <div class="form-group">      
            <%= f.input :email, label:"電子信箱", input_html: { class: "form-control"} %>       
          </div>             
          <div class="form-group">      
            <%= f.input :phone, label:"會員手機", input_html: { class: "form-control"} %>       
          </div>
          <div class="form-group">   
            <%= label_tag(:home_pre, "會員市話") %> <br>
            <div class="col-xs-2" style="padding-left:0px">
            <%= select_tag :home_pre, options_for_select([ "02", "03", "04", "04", "06", "07", "08", "037", "049", "082", "089"], "03"), class: "form-control" %></div>

            <div class="col-xs-10" style="padding:0px"><%= text_field_tag :home_post, nil, label: false, class: "form-control" %></div>
            <br><br>
          </div>                                     
          <div class="form-group">      
            <%= f.input :password, label:"密碼", hint: '（預設 12345）',  input_html: { class: "form-control", value: '12345'} %>       
          </div>    
          <div class="form-group">      
            <%= f.input :password_confirmation, label:"密碼確認", hint: '（預設 12345）', input_html: { class: "form-control", value: '12345'} %>
          </div>               
          <div class="form-group", style="margin-left: 20px; margin-top: 20px;">      
            <%= f.input :verified, label:"可線上登錄", as: :boolean, input_html: {checked: false} %>       
          </div>               
          <br>                      
          <%= f.submit "送出", disable_with: 'Submitting...', class: "btn btn-lg btn-primary"%>
        <% end %>          
      </div>
    </div>
    <br><br>        
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>

