<div class="services">         
  <div class="service-sidebar">
    <%= render partial: "backstage_sidebar" %>
  </div>        
  <div class="service-backstage">
    <h3>手療代客預約</h3>    
    <br>       
    <div class="row">
      <div class="bs-wizard" style="border-bottom:0;">
        <div class="step-long bs-wizard-step complete"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">預約日期</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <span class="bs-wizard-dot"></span>
        </div>

        <div class="step-long bs-wizard-step complete"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">預約時段</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <span class="bs-wizard-dot"></span>
        </div>
        
        <div class="step-long bs-wizard-step complete"><!-- complete -->
          <div class="text-center bs-wizard-stepnum">[<%= @user.name %>]&nbsp完成預約</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <span class="bs-wizard-dot"></span>
          <span class="bs-wizard-dot"></span>
        </div>
      </div>
    </div>
<!-- Also have same form in reservations/_form.html.erb -->
    <br>
    <h4>管理者您好！
        <br><br>
        您已幫[<%= @user.name %>]預約成功&nbsp&nbsp<%= params[:date] %> <%= show_time_slot(params[:slot].to_i) %>
    </h4>   
    <br><br>
    <%= link_to "前往查看預約記錄!", backstage_hand_reservation_list_path, class: "btn btn-lg btn-primary" %>    
    <br><br>          
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>