<div class="services">         
  <div class="service-sidebar">
    <%= render partial: "backstage_sidebar" %>
  </div>        
  <div class="service-backstage">
    <h3>手療總覽</h3>
    <br>
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">     
        <li class="active">
          <a href="#reservation1" data-toggle="tab">
            <h4>最新預約（<%= @reservations_by_created_at_count %>）</h4>
          </a>
        </li>            
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        
        <div class="tab-pane active" id="reservation1">
          <div class="container-fluid table-responsive">
            <table class="table table-hover sortable table-reservation-list">
              <thead>
                <tr>
                  <th width="3%"></th>
                  <th width="8%">姓名</th>
                  <th width="17%">預約日期</th>
                  <th width="8%">時段</th>
                  <th width="28%">症狀描述</th>                  
                  <th width="26%">建檔時間</th>       
                  <th width="5%"></th>      
                  <th width="5%"></th>                                           
                </tr>
              </thead>
              <tbody>
                <% @reservations_by_created_at.each do |r| %>
                <tr>
                  <td>
                    <%= link_to backstage_user_show_path(user: r.user) do %>
                      <span class="glyphicon glyphicon-search", style="top: 3px"></span>
                    <% end %>
                  </td>                      
                  <td><%= r.user.name %></td>
                  <td><%= r.booking_slot.booking_date %></td>
                  <td><%= show_time_slot(r.booking_slot.time_slot) %></td>
                  <td><%= r.desc %></td>                    
                  <td><%= show_datetime(r.created_at) %></td>
                  <td>
                    <%= link_to backstage_edit_hand_reservation_path(r: r) do %>
                      <span class="glyphicon glyphicon-pencil", style="top: 3px"></span>
                    <% end %>
                  </td> 
                  <td>
                    <% if r.booking_slot.booking_date > Date.today %>
                      <%= link_to reservation_path(r), method: :delete, data: {confirm: "你確定刪除預約嗎?"} do %>
                        <span class="glyphicon glyphicon-remove", style="top: 3px"></span>
                      <% end %>
                    <% end %>
                  </td>                              
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>                  
        </div>  
      </div>
    </div>
    <div class="paginate"><%= paginate @reservations_by_created_at %></div>
    <br><br>
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
