<div class="content">
  <div class="wrap">
    <div class="services">
      <div class="services-sidebar">
        <%= render partial: "pages/message_board_sidebar" %>
      </div>            
      <div class="service-content">
        <h3>最新留言</h3>

        <table class="table table-hover">
          <thead>
            <tr>
              <th width="68%" >問題</th>
              <th width="12%" style="text-align:center">發問人</th>
              <th width="12%" style="text-align:center">發問時間</th>
              <th width="8%" style="text-align:center">已回覆</th>     
            </tr>
          </thead>
          <tbody>
            <% @messages.each do |m| %>
              <tr>
                <td><%= link_to m.title, message_path(m) %></td>
                <td align="center"><%= m.name %></td>
                <td align="center"><%= m.created_at.strftime("%y-%m-%d") %></td>     
                <td align="center">
                <% if m.comments.empty? %>
                  否
                <% else %>
                  是
                <% end %>
                </td>                               
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <h3>我要留言</h3>        
        <%= simple_form_for @message do |f| %>
          <div class="form-group">   
            <%= f.input :name, label:"暱稱", input_html: { class: "form-control"} %>       
          </div>           
          <div class="form-group">   
            <%= f.input :title, label:"標題", input_html: { class: "form-control"} %>       
          </div>            
          <div class="form-group">      
            <%= f.input :body, label:"內容", input_html: { class: "form-control", rows: "20", width: "80%"} %>
          </div>
          <%= f.submit "Submit", disable_with: 'Submitting...', class: "btn btn-primary"%>
        <% end %>      
        <hr>

      </div>
      <div class="clear"> </div>
    </div>
    <div class="clear"> </div>
  </div>
</div>  


