<div class="services">         
  <div class="service-sidebar">
    <%= render partial: "backstage_sidebar" %>
  </div>        
  <div class="service-display">
    <h3>預約月曆</h3>
    <br>
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#booked" data-toggle="tab"><h4>待診人數</h4></a>
        </li>
        <li>
          <a href="#bookable" data-toggle="tab"><h4>保留名額</h4></a>
        </li>          
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="booked">
          <% @calendar_user = nil %>
          <%= month_calendar do |date| %>
            <%= date.strftime("%d") %> <br>
            <% booking_slots = @booking_slots.select{|b| b.booking_date == date} %>

            <% if @booking_slots_hash[date] != nil %>                    

              <%= link_to backstage_reservation_week_path(date: date, anchor: "morning") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp上午 <%= @booking_slots_hash[date][0] %><br>
              <% end %>       

              <%= link_to backstage_reservation_week_path(date: date, anchor: "afternoon") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp下午 <%= @booking_slots_hash[date][1] %><br>
              <% end %>       

              <%= link_to backstage_reservation_week_path(date: date, anchor: "evening") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp晚上 <%= @booking_slots_hash[date][2] %><br>
              <% end %>               
              <br>
           
            <% else %>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp無名額<br>&nbsp<br>&nbsp
            <% end %>
          <% end %>          
        </div>

        <div class="tab-pane" id="bookable">
          <%= month_calendar do |date| %>
            <%= date.strftime("%d") %> <br>
            <% booking_slots = @booking_slots.select{|b| b.booking_date == date} %>

            <% if @booking_slots_hash[date] != nil %>                 
   
              <%= link_to backstage_reservation_week_path(date: date, anchor: "morning") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp上午 <%= @booking_slots_hash[date][3] %><br>
              <% end %>       

              <%= link_to backstage_reservation_week_path(date: date, anchor: "afternoon") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp下午 <%= @booking_slots_hash[date][4] %><br>
              <% end %>       

              <%= link_to backstage_reservation_week_path(date: date, anchor: "evening") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp晚上 <%= @booking_slots_hash[date][5] %><br>
              <% end %>               
              <br>
           
            <% else %>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp無名額<br>&nbsp<br>&nbsp
            <% end %>
          <% end %>            
        </div>

      </div>
    </div>


  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
