<div class="services">         
  <div class="service-sidebar">
    <%= render partial: "backstage_sidebar" %>
  </div>        
  <div class="service-display">
    <h3>預約總覽</h3>
    <br>
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#booked" data-toggle="tab"><h4>待診人數</h4></a>
        </li>
        <li>
          <a href="#bookable" aria-controls="tab" role="tab" data-toggle="tab"><h4>保留名額</h4></a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="booked">
          <%= month_calendar do |date| %>
            <%= date.strftime("%d") %> <br>
            <% booking_slots = @booking_slots.where("booking_date = ?", date) %>

            <% if booking_slots.count > 0 %>
              <% morning_booked_count = booking_slots.morning.where(is_booked: true).count %>
              <% afternoon_booked_count = booking_slots.afternoon.where(is_booked: true).count %>
              <% evenning_booked_count = booking_slots.evenning.where(is_booked: true).count %>                            
      
              <%= link_to backstage_reservation_list_path(date: date, anchor: "morning") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp上午 <%= morning_booked_count %><br>
              <% end %>       

              <%= link_to backstage_reservation_list_path(date: date, anchor: "afternoon") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp下午 <%= afternoon_booked_count %><br>
              <% end %>       

              <%= link_to backstage_reservation_list_path(date: date, anchor: "evening") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp晚上 <%= evenning_booked_count %><br>
              <% end %>               
              <br>
           
            <% else %>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp無名額<br>&nbsp<br>&nbsp
            <% end %>
          <% end %>          
        </div>
        <div class="tab-pane" id="bookable">
          <%= month_calendar do |date| %>
            <%= date.strftime("%d") %> <br>
            <% booking_slots = @booking_slots.where("booking_date = ?", date) %>

            <% if booking_slots.count > 0 %>                 
              <% morning_not_bookable_and_not_booked_count = booking_slots.morning.where("bookable = ? and is_booked = ?", false, false).count %>
              <% afternoon_not_bookable_and_not_booked_count = booking_slots.afternoon.where("bookable = ? and is_booked = ?", false, false).count %>
              <% evenning_not_bookable_and_not_booked_count = booking_slots.evenning.where("bookable = ? and is_booked = ?", false, false).count %>   

              <%= link_to backstage_reservation_list_path(date: date, anchor: "morning") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp上午 <%= morning_not_bookable_and_not_booked_count %><br>
              <% end %>       

              <%= link_to backstage_reservation_list_path(date: date, anchor: "afternoon") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp下午 <%= afternoon_not_bookable_and_not_booked_count %><br>
              <% end %>       

              <%= link_to backstage_reservation_list_path(date: date, anchor: "evening") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp晚上 <%= evenning_not_bookable_and_not_booked_count %><br>
              <% end %>               
              <br>
           
            <% else %>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp無名額<br>&nbsp<br>&nbsp
            <% end %>
          <% end %>            

        </div>
      </div>
    </div>


  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
