<div class="services">         
  <div class="service-sidebar">
    <%= render partial: "backstage_sidebar" %>
  </div>        
  <div class="service-display">
    <h3>預約總覽</h3>
    <br>
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#booked" data-toggle="tab"><h4>待診人數</h4></a>
        </li>
        <li>
          <a href="#bookable" data-toggle="tab"><h4>保留名額</h4></a>
        </li>
        <li>
          <a href="#reservation" data-toggle="tab"><h4>總覽(<%= @reservations.count %>)</h4></a>
        </li>        
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="booked">
          <% @calendar_user = nil %>
          <%= month_calendar do |date| %>
            <%= date.strftime("%d") %> <br>
            <% booking_slots = @booking_slots.where("booking_date = ?", date) %>

            <% if booking_slots.count > 0 %>
              <% morning_booked_count = booking_slots.morning.where(is_booked: true).count %>
              <% afternoon_booked_count = booking_slots.afternoon.where(is_booked: true).count %>
              <% evenning_booked_count = booking_slots.evenning.where(is_booked: true).count %>                            
      
              <%= link_to backstage_reservation_list_path(date: date, anchor: "morning") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp上午 <%= morning_booked_count %><br>
              <% end %>       

              <%= link_to backstage_reservation_list_path(date: date, anchor: "afternoon") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp下午 <%= afternoon_booked_count %><br>
              <% end %>       

              <%= link_to backstage_reservation_list_path(date: date, anchor: "evening") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp晚上 <%= evenning_booked_count %><br>
              <% end %>               
              <br>
           
            <% else %>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp無名額<br>&nbsp<br>&nbsp
            <% end %>
          <% end %>          
        </div>
        <div class="tab-pane" id="bookable">
          <%= month_calendar do |date| %>
            <%= date.strftime("%d") %> <br>
            <% booking_slots = @booking_slots.where("booking_date = ?", date) %>

            <% if booking_slots.count > 0 %>                 
              <% morning_not_bookable_and_not_booked_count = booking_slots.morning.where("bookable = ? and is_booked = ?", false, false).count %>
              <% afternoon_not_bookable_and_not_booked_count = booking_slots.afternoon.where("bookable = ? and is_booked = ?", false, false).count %>
              <% evenning_not_bookable_and_not_booked_count = booking_slots.evenning.where("bookable = ? and is_booked = ?", false, false).count %>   

              <%= link_to backstage_reservation_list_path(date: date, anchor: "morning") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp上午 <%= morning_not_bookable_and_not_booked_count %><br>
              <% end %>       

              <%= link_to backstage_reservation_list_path(date: date, anchor: "afternoon") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp下午 <%= afternoon_not_bookable_and_not_booked_count %><br>
              <% end %>       

              <%= link_to backstage_reservation_list_path(date: date, anchor: "evening") do %>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp晚上 <%= evenning_not_bookable_and_not_booked_count %><br>
              <% end %>               
              <br>
           
            <% else %>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp無名額<br>&nbsp<br>&nbsp
            <% end %>
          <% end %>            
        </div>
          <div class="tab-pane" id="reservation">
            <div class="container-fluid">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th width="5%"> </th>                    
                    <th width="13%" >姓名</th>
                    <th width="18%" >預約時間</th>
                    <th width="15%" >預約時段</th>
                    <th width="45%" >系統建立時間</th>       
                    <th width="5%"></th>                        
                  </tr>
                </thead>
                <tbody>
                  <% last_date = nil %>
                  <% @reservations.each do |r| %>
                  <% if r.booking_slot.booking_date != last_date %>
                    <% last_date = r.booking_slot.booking_date %>
                    <tr style="background-color: #AAA"><td></td><td></td><td></td><td></td><td></td></tr>
                  <% end %>
                  <tr>
                    <td>
                      <%= link_to backstage_user_show_path(user: r.user) do %>
                        <span class="glyphicon glyphicon-search", style="top: 3px"></span>
                      <% end %>
                    </td>                      
                    <td><%= r.user.name %></td>
                    <td><%= r.booking_slot.booking_date %></td>
                    <td><%= show_time_slot(r.booking_slot.time_slot) %></td>
                    <td><%= show_datetime(r.created_at) %></td>
                    <td>
                      <%= link_to reservation_path(r), method: :delete, data: {confirm: "你確定刪除預約嗎?"} do %>
                        <span class="glyphicon glyphicon-remove", style="top: 3px"></span>
                      <% end %>
                    </td>                              
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>                  
          </div>         
      </div>
    </div>


  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
