<div class="services">         
  <div class="service-sidebar">
    <%= render partial: "backstage_sidebar" %>
  </div>        
  <div class="service-content">
    <h3>搜尋會員</h3>
    <br>
    <div class="row" style="font-size: 1.1em">
      <%= form_tag(backstage_search_user_path, method: :get, class: 'navbar-form navbar-left') do %>
        <%= search_field_tag 'search', nil, class: 'form-control', style: "font-size: 1.1em", placeholder: '搜尋會員資料'  %>
        <%= button_tag class: 'btn btn-default', :name => nil do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
        <div style="padding-top: 0.6em; font-size:1.1em">&nbsp(可填寫姓名或手機或Email或市話的關鍵字)</div>
      <% end %>
    </div>
    <br> 
    <% if @users %>
      <h4>共找到相關用戶 <%= @users.count %> 位</h4>
      <br>
      <%= render partial: "member_show", locals: {member: @users, show_black: false}  %>
    <% end %>    

  <div class="clear"> </div>
  </div>
<div class="clear"> </div>
</div>
