<div class="services">         
  <div class="service-sidebar">
    <%= render partial: "backstage_sidebar" %>
  </div>        
  <div class="service-content">
    <h3>搜尋會員</h3>
    <br>
    <div class="row">
      <%= form_tag(backstage_search_user_path, method: :get, class: 'navbar-form navbar-left') do %>
        <%= search_field_tag 'search', nil, class: 'form-control', placeholder: '搜尋會員資料'  %>
        <%= button_tag class: 'btn btn-default', :name => nil do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
        <h5>&nbsp(可填寫姓名或手機或Email的關鍵字)</h5>
      <% end %>
    </div>
    <% if @users %>
      <div class="row">
        <div class="col-xs-9">
          <br>
          <h4>用戶 (<%= @users.count %>)</h4>
          <table class="table table-hover">
            <thead>
              <tr>        
                <th width="5%"></th>
                <th width="10%">名稱</th>
                <th width="28%">電郵</th>          
                <th width="22%">手機</th>                                   
                <th width="25%"></th>   
                <th width="5%"></th> 
                <th width="5%"></th> 
              </tr>
            </thead>
            <tbody>
              <% @users.each do |u| %>
                <tr>       
                  <td style="vertical-align: middle;">
                    <%= link_to backstage_user_show_path(user: u) do %>
                      <span class="glyphicon glyphicon-search", style="top: 3px"></span>
                    <% end %>
                  </td>            
                  <td style="vertical-align: middle;"><%= u.name %></td>
                  <td style="vertical-align: middle;"><%= u.email %></td>              
                  <td style="vertical-align: middle;"><%= show_phone(u.phone) %></td>     
                  <% if u.admin %>
                    <td style="vertical-align: middle;">管理者</td> 
                    <td style="vertical-align: middle;"></td>
                    <td style="vertical-align: middle;"></td>                     
                  <% else %>
                    <td style="vertical-align: middle;">
                      <%= link_to "前往預約", backstage_add_reservation_s1_path(user: u), class: "btn btn-primary" %>
                    </td>  
                    <td style="vertical-align: middle;">
                      <%= link_to edit_user_path(u) do %>
                        <span class="glyphicon glyphicon-pencil", style="top: 3px"></span>
                      <% end %>
                    </td>                            
                    <td style="vertical-align: middle;">
                      <%= link_to user_path(u), method: :delete, data: {confirm: "你確定刪除此用戶嗎?"} do %>
                        <span class="glyphicon glyphicon-remove", style="top: 3px"></span>
                      <% end %>
                    </td>                                               
                  <% end %>

                </tr>
              <% end %>
            </tbody>
          </table>
        </div>        
      </div>
    <% end %>    

  <div class="clear"> </div>
  </div>
<div class="clear"> </div>
</div>
