<div class="services">         
  <div class="service-sidebar">
    <%= render partial: "backstage_sidebar" %>
  </div>        
  <div class="service-display">
    <h3>會員總覽(<%= @total_user_count %>)</h3>
    <br> 
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#member" data-toggle="tab">
              <h4>驗證會員(<%= @verified_member_count %>)</h4>
            </a>
          </li>
          <li>
            <a href="#not_verified" data-toggle="tab">
              <h4>未驗證(<%= @not_verified_member_count %>)</h4>
            </a>
          </li>
          <li>
            <a href="#admin" data-toggle="tab">
              <h4>管理者(<%= @admin_member_count %>)</h4>
            </a>
          </li>                    
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="member">
            <%= render partial: "member_show", locals: {member: @verified_member}  %>
          </div>            
          <div class="tab-pane" id="not_verified">
            <%= render partial: "member_show", locals: {member: @not_verified_member}  %>
          </div>  
          <div class="tab-pane" id="admin">
            <%= render partial: "member_show", locals: {member: @admin_member}  %>
          </div>        
        </div>
    </div>


  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
