<!-- Also have same form in add_reservation_s2.html.erb -->
<br>
<%= simple_form_for @reservation do |f| %>   
  <h4><%= current_user.name %>您好！
      <br><br>
      您想要預約的日期是&nbsp<%= params[:date] %>&nbsp<%= params[:slot] %>時段
  </h4>      
  <br>

  <div class="form-group">   
    <%= f.input :booking_slot_id, label: '選擇預約時段：', include_blank: false, 
                 collection: @booking_slots.map{|k,v| v.first},
                 label_method: lambda { |b| 
                  "#{show_time_slot(b.time_slot)} 尚餘名額（#{@booking_slots[b.time_slot].count}）" },
                 value_method: :id %>                 
  </div>          
  <br>    
  <%= f.submit "完成預約", disable_with: 'Submitting...', class: "btn btn-primary"%>
<% end %>