<div class="services">
  <div class="service-sidebar">
    <%= render partial: "reservation_sidebar" %>
  </div>            
  <div class="service-display">
    <!-- Also have same form in add_reservation_s2.html.erb/edit.html.erb -->
    <br>
    <%= simple_form_for @reservation do |f| %>   
      <div class="col-xs-6">
        <h4><%= current_user.name %>您好！
            <br><br>
            此筆預約日期是&nbsp<%= @reservation.booking_slot.booking_date %>&nbsp<%=show_time_slot(@reservation.booking_slot.time_slot) %>時段
        </h4>      
        <br>

        <div class="form-group">   
          <%= f.input :desc, label:"症狀描述：", input_html: { class: "form-control"} %>                            
          <br>    
          <%= f.submit "完成修改", disable_with: 'Submitting...', class: "btn btn-primary"%>     
        </div>
      </div>
    <% end %>       
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
