<div class="content">
  <div class="wrap">
    <div class="services">
      <div class="services-sidebar">
        <%= render partial: "/pages/booking_sidebar" %>
      </div>            
      <div class="service-content">
        <h3>尋找預約記錄 </h3>
        <%= form_tag(list_reservations_path, method: "get") do %>
          <%= label_tag(:q, "輸入您的姓名：") %>
          <%= text_field_tag(:q) %>
          &nbsp
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
            <span class="glyphicon glyphicon-search"></span> 
          <% end %>          
        <% end %>    
      </div>
      <div class="clear"> </div>
    </div>
    <div class="clear"> </div>
  </div>
</div>  
