<div class="content">
  <div class="wrap">
    <div class="services">
      <div class="services-sidebar">
        <%= render partial: "reservation_sidebar" %>
      </div>            
      <div class="service-content">
        <h3>預約記錄 </h3>
        <div class="row">
          <div class="col-md-10">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th width="17%" style="text-align:center">預約名稱</th>
                  <th width="17%" style="text-align:center">預約手機</th>                  
                  <th width="17%" style="text-align:center">預約日期</th>
                  <th width="17%" style="text-align:center">預約時段</th>
                  <th width="31%" style="text-align:center">預約單建立時間</th>                
                  <th width="1%"></th>    
                </tr>
              </thead>
              <tbody>
                <% @reservations.each do |r| %>
                  <tr>
                    <td align="center"><%= r.name %></td>
                    <td align="center"><%= r.phone[0..3] %>-<%= r.phone[4..6] %>-<%= r.phone[7..9] %></td>                     
                    <td align="center"><%= r.booking_slot.booking_date.b_date.strftime("%Y-%m-%d") %></td>
                    <td align="center"><%= r.booking_slot.time_slot/2 %>:<%= r.booking_slot.time_slot%2*3 %>0</td>
                    <td align="center"><%= r.created_at.in_time_zone("Taipei").strftime("%Y/%m/%d %H:%m:%S") %></td>                    
                    <td>
                      <%= link_to reservation_path(r), method: :delete, data: {confirm: "你確定刪除預約嗎?"} do %>
                        <span class="glyphicon glyphicon-remove", style="top: 3px"></span>
                      <% end %>
                    </td>                                    
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>            
        </div>
      </div>
      <div class="clear"> </div>
    </div>
    <div class="clear"> </div>
  </div>
</div>  
