<script>
  var url = document.location.toString();
  if (url.match('#reservation_calender')) {
  
    $(document).ready(function(){
      activaTab('reservation_calender');        
    });
    
    $("html, body").animate({ scrollTop: 160 });    
    
    function activaTab(tab){
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };
  }   

</script>

<div class="services">
  <div class="service-sidebar">
    <%= render partial: "reservation_sidebar" %>
  </div>            
  <div class="service-display">
    <h3>預約記錄</h3>
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li class="active">
            <a href="#reservation_calender" data-toggle="tab"><h4>預約月曆</h4></a>
          </li>              
          <li>
            <a href="#reservation_later" data-toggle="tab"><h4>待診療</h4></a>
          </li>        
          <li>
             <a href="#reservation_all" data-toggle="tab"><h4>歷史預約</h4></a>
          </li>       
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="reservation_calender">
            <% @calendar_user = current_user %>
            <%= month_calendar do |date| %>
              <%= date.strftime("%d") %><br>
              <% find_reservations = current_user.reservations.select{|r| r.booking_slot.booking_date == date} %>
              <% if find_reservations.any? %> 
                <% find_reservations.each do |r| %>
                  <div style="text-align: center;">
                    <% if date <= Date.today %>
                      <%= r.booking_slot.booking_type == 0 ? "手療" : "體雕" %><%= show_time_slot(r.booking_slot.time_slot) %>
                    <% else %>
                      <%= link_to reservation_path(r), method: :delete, data: {confirm: "你確定刪除預約嗎?"} do %>
                        <%= r.booking_slot.booking_type == 0 ? "手療" : "體雕" %><%= show_time_slot(r.booking_slot.time_slot) %>
                      <% end %>    
                    <% end %>                  
                  </div>
                <% end %>
              <% end %>
            <% end %>                
          </div>   

          <div role="tabpanel" class="tab-pane" id="reservation_later">
            <div class="container-fluid">
              <%= render "users/reservation_table", reservations: current_user.reservations.to_be_served %>              
            </div>                  
          </div>        
          <div role="tabpanel" class="tab-pane" id="reservation_all">
            <div class="container-fluid">
              <%= render "users/reservation_table", reservations: current_user.reservations %>                  
            </div>                  
          </div>          
        </div>             
    </div>
    <br><br>
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>


