<br>
<%= simple_form_for @category, { :class => 'form-inline' } do |f| %>
  <h4>
    <%= f.input :name, label:"新增分類：" do %> 
      <%= f.input_field :name %>
      <%= button_tag( :class => "button_green btn btn-primary") do %>
        <span class="glyphicon glyphicon-plus"></span>
      <% end %>    
    <% end %>
  </h4>  
<% end %>        
<hr>        
      
<%= simple_form_for @post do |f| %>
  <div class="form-group post-form">   
    <%= f.input :category_id, label: '分類：', include_blank: false, 
                 collection: @categories,
                 label_method: :name,
                 value_method: :id, input_html: { class: "form-control"} %>                    
    <br>    
  </div>    
  <div class="form-group post-form">     
    <%= f.input :title, label:"標題", input_html: { class: "form-control"} %>      
    <br>                        
  </div>            
  <div class="form-group post-form">  
    <%= f.input :body, label:"內容", input_html: { class: "form-control", rows: "20", width: "80%"} %>    
  </div>
  <%= f.submit "送出", disable_with: 'Submitting...', class: "btn btn-lg btn-primary"%>
<% end %>


<script type="text/javascript">
var editor = new Simditor({
  textarea: $('#post_body'),
  toolbar: ['title', 'bold', 'italic', 'underline', 'strikethrough', 'color', '|', 'ol', 'ul', 'blockquote', 'link','image', '|','hr','indent','outdent','alignment'],
  placeholder: '這裡輸入專欄內容...',
  pasteImage: true,
  fileKey: 'file',
  upload: {
    url: '/post_photos',
    params: null,
    connectionCount: 3,
    'leaveConfirm': '正在上傳照片, 你確認要離開嗎?'
  }  
});
</script>

