<div class="services">   
  <div class="service-content">
    <%= render partial: '/categories/nav' %>

    <div class="page-header">
      <h1><%= link_to "專欄文章", categories_path %></h1>
    </div>    
    
    <h3>
      <%= link_to @post.title, post_path(@post) %>
      <% if logged_in_as_admin? %>                       
        <div class="pull-right">   
        <% if @post.seeable %>
          <%= link_to modify_seeable_posts_path(post: @post) do %>
            <i class="material-icons" style="font-size: 1.3em; top: 0.3em; color: black">visibility</i>&nbsp
          <% end %>
        <% else %>
          <%= link_to modify_seeable_posts_path(post: @post) do %>
            <i class="material-icons" style="font-size: 1.3em; top: 0.3em; color: #ccc">visibility_off</i>&nbsp
          <% end %>              
        <% end %>              
          <%= link_to edit_post_path(@post) do %>   
            <span class="glyphicon glyphicon-pencil" style="font-size: 1.0em; top: 0.2em;"></span>&nbsp
          <% end %> 
          <%= link_to post_path(@post), 
              method: :delete, data: {confirm: "你確定刪除此專欄嗎?"} do %>
            <span class="glyphicon glyphicon-remove" style="font-size: 1.0em; top: 0.2em;"></span>
          <% end %>    
        </div>  
      <% end %>            
    </h3>
    <div class="show-message-date" style="padding-top: 10px;">
      <span class="label label-default" style="font-size:1.0em;">
        <%= link_to @post.category.name, category_path(@post.category), style: "color: white;" %>
      </span>           
      &nbsp&nbsp&nbsp<%= show_datetime(@post.updated_at) %>  
    </div>
    <br>
    <div class="show-message-content">    
      <br><br>
      <p><%= @post.body %></p>
    </div>
    <br><br>
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>