<div class="services">
  <div class="service-sidebar">
    <%= render partial: "categories/category_sidebar" %>
  </div>            
  <div class="service-content">
    <h3>
      <%= @post.title %>
      <% if logged_in_as_admin? %>          
        <div class="pull-right">   
          <%= link_to edit_post_path(@post), class:"btn btn-xs btn-primary" do %>   
            <big><span class="glyphicon glyphicon-pencil"></span></big>
          <% end %> 
          <%= link_to post_path(@post), 
              method: :delete, data: {confirm: "你確定刪除文章嗎?"}, class:"btn btn-xs btn-primary" do %>
            <big><span class="glyphicon glyphicon-remove", style="top: 3px"></span></big>
          <% end %>    
        </div>  
      <% end %>            
    </h3>
    <h4>
      <span class="label label-default">
        <%= show_date(@post.created_at) %>
        【<%= @post.category.name %>】
      </span>
    </h4>
    <br>
    <p class="text-muted"><%= markdown @post.body %></p>
       
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>