<h3>類別</h3>
<ul>
  <li>
    <%= link_to categories_path, :style => font_bold_class(categories_path) do %>
      <span class="glyphicon glyphicon-chevron-right"></span>
      &nbsp&nbsp全部文章
      (<%= @posts_count %>)
    <% end %>
  </li>
  <% @categories.each do |c| %> 
    <li> 
      <%= link_to category_path(c), :style => font_bold_class(category_path(c)) do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
        &nbsp&nbsp<%= c.name %>
        <% if logged_in_as_admin? %>
          (<%= c.posts.count %>)
        <% else %>
          (<%= c.posts.where("seeable = ?", true).count %>)
        <% end %>          
      <% end %>
    </li>
  <% end %>
</ul>