<div class="services">
  <div class="service-sidebar">
    <%= render partial: "category_sidebar" %>
  </div>            
  <div class="service-content">
    <h3>專欄文章</h3>
    <% @posts.each do |p| %>
      <ul>          
        <li>
          <p>
            <%= link_to post_path(p) do %>
            <span id="archive-date"><%= show_date(p.created_at) %></span>                    
             <%= p.title %>
             &nbsp
             <span class="label label-default pull-right"><%= p.category.name %></span>                 
            <% end %>
          </p>
        </li>
        <div class="clear"> </div>
      </ul>
    <% end %>
    <h4><%= paginate @posts %></h4>   
  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
