<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">    
      <a class="navbar-brand" href="/" style="color: black; font-weight: bold">診所 2.0</a>

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>
      </button>      

    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">             
      </ul>      
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to "相簿",   albums_path,        :style => font_bold_class_check_controller(albums_path) %> </li>        
        <li> <%= link_to "最新消息", announcements_path, :style => font_bold_class_check_controller(announcements_path) %> </li>                
        <li> <%= link_to "專欄文章", categories_path,    :style => font_bold_class_check_category_post(categories_path) %> </li>             
        <li> <%= link_to "留言討論", messages_path,      :style => font_bold_class_check_controller(messages_path) %> </li>                        
        <li> <%= link_to "診療預約", hand_reservations_path, :style => font_bold_class_check_reservations_controller %> </li>
        <% if logged_in_as_admin? %>
          <li class="dropdown">
            <%= link_to "#" , :class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :style => font_bold_class_check_pages_controller do %>
              管理者 <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">             
              <li><%= link_to "個人資料", user_path(current_user) %></li>
              <li class="divider"></li>                                
              <li><%= link_to "發表公告", new_announcement_path %></li>
              <li class="divider"></li>        
              <li><%= link_to "發表專欄", new_post_path %></li>          
              <li class="divider"></li>                
              <li><%= link_to "後台管理", backstage_search_user_path %></li>              
              <li class="divider"></li>                     
              <li><%= link_to "登出", logout_path %></li>               
            </ul>
          </li> 

        <% elsif logged_in_as_user? %>
          <li class="dropdown">
            <%= link_to "#" , :class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :style => font_bold_class_check_pages_controller do %>
              <%= current_user.name %> <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to "個人資料", user_path(current_user) %></li>                      
              <li class="divider"></li>                
              <li><%= link_to "登出", logout_path %></li>
            </ul>
          </li> 
        <% else %>
          <li>
            <li>
              <%= link_to "註冊", register_path, style: "display: inline-block; padding-right: 0px;" %> /
              <%= link_to "登入", login_path, style: "display: inline-block; padding-left: 0px" %>
            </li>            
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="container-fluid" id="banner">  
    <div>
      <span class="glyphicon glyphicon-phone" style="top:3px"></span>&nbsp&nbsp&nbsp(03) 0123-4567&nbsp&nbsp&nbsp   
      <span id="time">
        <span class="glyphicon glyphicon-time" style="top:3px"></span>
        &nbsp週一到週六 10:00-22:00
      </span>          
    </div>
  </div>  
</nav>
